<!DOCTYPE html>
<html>

<head>
    <title>Task9</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <form method="POST", action="/about">
        <div class="form">
            <label>
                <input type="text" name="text" class="form__input">
            </label>
        </div>
        <div class="form">
            <label>
                <input type="text" name="text2" class="form__control">
            </label>
        </div>
        <div class="form">
            <label>
                <input type="number" name="text3" class="form__control">
            </label>
        </div>
        <div class="form">
            <label>
                <input type="text" name="text4" class="form__control">
            </label>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>

    <script src="script.js"></script>
</body>

</html>