<!DOCTYPE html>
<html>

<head>
    <title>Task9</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <ul>
        <li>
            <a href="/about">Add User</a>
        </li>
    </ul>

    <p>
        <b>FirstName</b> <%= data.text %>
        <b>SecondName</b> <%= data.text2 %>
        <b>Age</b> <%= data.text3 %>
        <b>Speciality</b> <%= data.text4 %>
    </p>
    <script src="script.js"></script>
</body>

</html>